
<h1>Products from <%= @supermarket.name %> </h1>

<h3 class="text-center">Products for Sale</h3>

<%= form_tag(products_path, :method => "get") do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], :class => "col-sm-3", placeholder: "Digite seu CEP" %><br><br>
    <%= submit_tag "Buscar", :name => nil, :class => 'btn-sm btn-success' %>
  </div>
<% end %>


<div class="row">
  <div class="col-xs-6">
    <h1><%= link_to "My Store", root_path %></h1>
  </div>
  <div class="col-xs-6 text-right">
    <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
  </div>
    <hr>
  <div class="col-xs-6 col-xs-offset-3">
    <% @supermarket.products.each do |product| %>
      <%= render 'products/product_row', product: product, item: @item %>
    <% end %>
  </div>
</div>

