
<h1 class="text-center">Products from <%= @supermarket.name %> </h1><br>

<div style="margin-left:40%">
  <%= form_tag(products_path, :method => "get", :class => "form-inline") do %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], :class => "form-control", placeholder: "Product name" %>
      <%= hidden_field_tag :supermarket_id, @supermarket.id %>
      <%= submit_tag "Buscar", :name => nil, :class => 'btn-sm btn-success' %>
    </div>
  <% end %>
</div>


<div class="row">
  <div class="col-xs-12 text-right">
    <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
  </div>
    <hr>
  <div class="col-xs-6 col-xs-offset-3">
    <% @supermarket.products.each do |product| %>
      <%= render 'products/product_row', product: product, item: @item %>
    <% end %>
  <%= link_to "Back", :back, class: "btn btn-default" %>
  <%= link_to "Preview Cart", cart_path, class: "btn btn-default" %>
  </div>

</div>

