<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supermarket.name %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @supermarket.cep %>
</p>

<%= link_to 'Edit', edit_supermarket_path(@supermarket) %> |
<%= link_to 'Back', supermarkets_path %>
