<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
       <p class="notice text-center"><%= notice %></p>
       <p class="alert text-center"><%= alert %></p>

  <div class="container">
    <div class="text-right">
      <% if user_signed_in? %>
        <%= link_to "Sair", destroy_user_session_path, method: :get %> (<%= current_user.email %>)
      <% else %>
        <%= link_to "Login", new_user_session_path, method: :get %>
      <% end %>
    </div>

    <%= yield %>

  </div>

</body>
</html>
